*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#img2{
    display: none;
    position: fixed;
    top: 170px;
    left: 400px;
    width: 500px;
    z-index: 1;
    opacity: 0.4;
}

#notAdded{
    display: none;
    position: fixed;
    top: 560px;
    left: 575px;
    width: 500px;
    z-index: 1;
    opacity: 0.4;
    font-size: 22px;
}


#img1{
    width: 600px;
    position: absolute;
    top: 100px;
    left: 460px;
}
#input-field{
    position: absolute;
    top: 535px;
    left: 270px;
    width: 800px;
    height: 22px;
    font-size: 15px;
    padding-left: 6px;
    border-radius: 5px;
    border: 1px solid black;
}
#Uname{
    position: absolute;
    top: 60px;
    left: 600px;
    font-size: 30px;
}

#inputList{
    display: none;
    position: absolute;
    top: 145px;
    left: 70px;
    width: 1200px;
    height: 22px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 6px;
}
.list{
    box-shadow: 1px 2px 5px gray;
    height: 50px;
    width: 1200px;
    position: relative;
    top: 270px;
    left: 70px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.label{
    position: absolute;
    top: 16px;
    left: 70px;
    font-size: 17px;
}

.checkbox{
    position: absolute;
    top: 18px;
    left: 25px;
}
.dotBtn{
    position: absolute;
    top: 11px;
    left: 1160px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: larger;
}

.btnContainer{
    position: absolute;
    top: 25px;
    left: 1085px;
    width: 80px;
    height: 75px;
    background-color: white;
    box-shadow: 1px 1px 3px gray;
}

.cross{
    position: absolute;
    left: 62px;
    top: 3px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 2px;
    border-radius: 300px;
}

.cross:hover{
    background-color: red;
    color: white;
}

.DeleteBtn{
    position: absolute;
    top: 25px;
    left: 2px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 3px;
}

.EditBtn{
    position: absolute;
    top: 50px;
    left: 2px;
    width: 75px;
    border: none;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
    cursor: pointer;
    padding: 3px;
}

.editContainer{
    position: fixed;
    width: 280px;
    height: 130px;
    top: 265px;
    left: 600px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px gray;
    background-color: white;
}

#editInput{
    position: absolute;
    top: 30px;
    left: 9px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    font-size: 15px;
}

#AllTasks{
position: absolute;
top: 200px;
left: 500px;
cursor: pointer;
background-color: lightgray;
border: none;
border-radius: 10px;
padding: 10px;
}

#AllTasks:hover{
    background-color: lightblue;
    color: white;
}
#PendingTasks{
position: absolute;
top: 200px;
left: 600px;
cursor: pointer;
background-color: lightgray;
border: none;
border-radius: 10px;
padding: 10px;
}

#PendingTasks:hover{
    background-color: lightblue;
    color: white;
}
#CompletedTasks{
position: absolute;
top: 200px;
left: 735px;
cursor: pointer;
background-color: lightgray;
border: none;
border-radius: 10px;
padding: 10px;
}

#CompletedTasks:hover{
background-color: lightblue;
color: white;
}